body {
    background-color: #989595;
    color: #000000;
    font-family: 'Gilam', sans-serif;
    width: 1460px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
}

label {
    margin-top: 50px;
    font-size: 20px;
}

.company-logo {
    width: 216px;
    height: 33px;
    margin-top: 46px;
}

.call-back {
    display: flex;
    width: 218px;
    height: 50px;
    border: 1px solid #E4B564;
    margin-top: 46px;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.call-back a {
    font-family: 'Circe', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #E4B564;
}

.call-back img {
    width: 16px;
    height: 16px;
}

h1 {
    font-size: 50px;
    font-weight: 700;
    line-height: 28px;
    margin-top: 128px;
}

.company-resume {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    margin-top: 41px;
    margin-bottom: 41px;
}

.section-top {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    margin-bottom: 161px;
}

.s-top-item-1 {
    grid-area: 1 / 1 / 2 / 3;
    background-color: #634F2C;
    height: 468px;
    width: 467px;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    padding-top: 220px;
}
.s-top-item-2 {
    grid-area: 1 / 3 / 2 / 5;
    background-color: #B4A385;
    height: 468px;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    padding-top: 206px;
}
.s-top-item-3 {
    grid-area: 1 / 5 / 2 / 7;
    background-color: #E4B564;
    height: 468px;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    padding-top: 220px;
}
.s-top-item-4 {
    grid-area: 2 / 1 / 3 / 4;
    background-color: #635A4A;
    height: 468px;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    padding-top: 220px;
}
.s-top-item-5 {
    grid-area: 2 / 4 / 3 / 7;
    background-color: #B08C4D;
    height: 468px;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    padding-top: 220px;
}

h2 {
    font-size: 50px;
    font-weight: 700;
    line-height: 28px;
}

.section-mid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 300px);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    margin-top: 94px;
}

.s-mid-item-1 {
    grid-area: 1 / 2 / 2 / 3;
    background-color: #242424;
    width: 467px;
    height: 439px;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    padding-top: 44px;
    padding-left: 51px;
    color: #fff;
}

.s-mid-item-2 {
    grid-area: 2 / 2 / 4 / 3;
    background-color: #E4B564;
    width: 467px;
    height: 405px;
    color: #000;
    font-size: 20px;
    font-weight: 500;
    padding-top: 47px;
    padding-left: 52px;
    position: absolute;
    margin-top: 469px;
    margin-left: 498px;
}

.s-mid-item-3 {
    grid-area: 1 / 3 / 2 / 4;
    background-color: #1F1F1F;
    width: 467px;
    height: 255px;
    font-size: 20px;
    font-weight: 500;
    padding-top: 44px;
    padding-left: 48px;
    color: #fff;
}

.s-mid-item-4 {
    grid-area: 2 / 3 / 3 / 4;
    background-color: #0E0E0E;
    width: 467px;
    height: 313px;
    font-size: 20px;
    font-weight: 500;
    padding-top: 44px;
    padding-left: 48px;
    position: absolute;
    margin-top: 285px;
    margin-left: 995px;
    color: #fff;
}

.s-mid-item-5 {
    grid-area: 3 / 3 / 4 / 4;
    background-color: #0A0909;
    width: 467px;
    height: 277px;
    font-size: 20px;
    font-weight: 700;
    padding-top: 44px;
    padding-left: 48px;
    position: absolute;
    margin-top: 626px;
    margin-left: 995px;
    color: #fff;
}

.s-mid-item-6 {
    grid-area: 2 / 1 / 4 / 2;
    background-color: #1F1F1F;
    width: 467px;
    height: 560px;
    font-size: 20px;
    font-weight: 500;
    padding-top: 56px;
    padding-left: 52px;
    position: absolute;
    margin-top: 340px;
    color: #fff;
}

.s-mid-item-7 {
    grid-area: 1 / 1 / 2 / 2;
    background-color: #0E0E0E;
    width: 467px;
    height: 313px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 44px;
    padding-left: 52px;
    color: #fff;
}

.our-clients {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 363px;
    margin-bottom: 72px;
}

.all-projects {
    display: flex;
    border: 1px solid #E4B564;
    justify-content: center;
    align-items: center;
}

.all-projects a {
    font-family: 'Circe', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #E4B564;
    padding: 10px 40px;
}

.section-bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 391px);
    grid-column-gap: 0;
    grid-row-gap: 0;
    margin-bottom: 239px;
}

.s-bottom-item-1 {
    grid-area: 1 / 1 / 2 / 2;
    background: #634F2C;
    padding: 171px 151px;
}

.s-bottom-item-2 {
    grid-area: 1 / 2 / 2 / 3;
    background: rgba(232, 210, 171, 0.76);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.s-bottom-item-3 {
    grid-area: 1 / 3 / 2 / 4;
    background: #E4B564;
    padding: 174px 148px;
}

.s-bottom-item-4 {
    grid-area: 2 / 1 / 3 / 2;
    background: #635A4A;
    padding: 174px 148px;
}

.s-bottom-item-5 {
    grid-area: 2 / 2 / 3 / 3;
    background: #B08C4D;
    padding: 169px 183px;
}

.s-bottom-item-6 {
    grid-area: 2 / 3 / 3 / 4;
    background: #634F2C;
    padding: 171px 151px;
}

.s-bottom-item-1 img, .s-bottom-item-6 img {
    width: 185px;
    height: 49px;
}

.s-bottom-item-3 img, .s-bottom-item-4 img {
    width: 190px;
    height: 42px;
}

.s-bottom-item-5 img {
    width: 119px;
    height: 53px;
}

.s-bottom-item-2 .a1{
    width: 62px;
    height: 55px;
    margin-left: 14px;
}

.s-bottom-item-2 .a2{
    width: 139px;
    height: 55px;
}

.s-bottom-item-2 p {
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    padding-top: 16px;
}




